[user]
	name = glyphack
	email = sh.hooshyari@gmail.com
[core]
	excludesfile = /Users/glyphack/.gitignore_global

[url "git@github.com:"]
 insteadOf = https://github.com/

[url "git@gitlab.com:"]
 insteadOf = https://gitlab.com/

[includeIf "gitdir:~/Programming/carnext/"] 
    path = ~/Programming/carnext/.gitconfig-carnext
[init]
	defaultBranch = master
