[user]
	name = Glyphack
	email = sh.hooshyari@gmail.com
	signingkey = 145D38B03F8621FF
[core]
	excludesfile = ~/.gitignore_global

[alias]
	pul = pull -q
	co = checkout
	oops = reset --hard 'HEAD@{1}'
	oopsy = reset --soft 'HEAD@{1}'
	forgot = commit --amend -C HEAD
	cm = commit
	pushf = push --force-with-lease
	lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	wip = for-each-ref --sort='authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads
	tidy = "!f() { if [ -z $1 ]; then BRANCH=$(git branch --show-current); else BRANCH=$1; fi; git branch --merged $BRANCH | grep -v $BRANCH$ | xargs git branch -d; }; f"
	st = status

[pull]
	rebase = true

[rebase]
	autostash = true

[commit]
	verbose = true
	template = ~/.gitmessage
	; gpgSign = true

[rerere]
	enabled = true

[branch]
	sort = committerdate

[push]
	useForceIfIncludes = true

[merge]
	conflictstyle = zdiff3

[url "git@github.com:"]
	insteadOf = https://github.com/

[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/

[init]
	defaultBranch = master
[push]
	autoSetupRemote = true
	default = current
[fetch]
	prune = true

[safe]
	directory = /home/app

[includeIf "gitdir:~/Programming/work/"]
	path = ~/Programming/work/gitconf/.gitconfig

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
