[user]
	name = Glyphack
	email = sh.hooshyari@gmail.com
	signingkey = 145D38B03F8621FF
[core]
	excludesfile = ~/.gitignore_global
	hooksPath = ~/.config/git/hooks
	pager = delta

[alias]
	cb = checkout -b
	s = switch
	cm = commit
	forgot = commit --amend -C HEAD
	pushf = push --force-with-lease
	last-remove = reset --hard 'HEAD@{1}'
	last-revert = reset --soft 'HEAD@{1}'

[pull]
	rebase = true

[rebase]
	autostash = true

[commit]
	verbose = true
	template = ~/.gitmessage
	; gpgSign = true

[rerere]
	enabled = true

[branch]
	sort = committerdate

[push]
	useForceIfIncludes = true

[merge]
	conflictStyle = zdiff3

[init]
	defaultBranch = master
[push]
	autoSetupRemote = true
	default = current
[fetch]
	prune = true

[includeIf "gitdir:~/Work/"]
	path = ~/Work/gitconf/.gitconfig

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
